.inbox_container{
    height: 100%;
    padding: 4% 8%;
    width: 80%;
    transition: .3s all ease-in-out;
}

.inbox_container_after{
    height: 100%;
    padding: 4% 8%;
    width: 60%;
    transition: .3s all ease-in-out;
}

.inbox_header_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.filter_icon{
    display: flex;
    align-items: center;
    margin: 0 10px;
}


.inbox_title_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0 0 0 10px;
    font-weight: 500;
    height: 100%;
    flex: 20%;
}

.search_container{
    flex: 80%;
}

.MuiButtonBase-root{
    background-color: #FFA500 !important;
}


.diplay_task_wrapper{
    display: flex;
    overflow: hidden;
    padding: 10px;
    height: 100%;
}

.show_task_with_page_wrapper{
    width: 100%;
    padding: 10px 0 0 0;
}

.pagination .page-link{
    color: #FFA500!important;
    /* background: #FFA500!important; */

}

.pagination .active .page-link{
    color: #FFFF!important;
    background: #FFA500!important;
    border: 1px solid #FFA500 !important;
}


.pagination .active{
    color: #FFFF !important;
    background-color: #FFA500!important;
}

.pagination .page-item .page-link:focus .pagination .page-item .page-link{
    background-color: #FFA500 !important;
}

.page-link:hover .page-link{
    background-color: #FFA500 !important;
    color: #f5f5f5 !important;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.filter_canvas{
    height: 95vh;
    margin-top: 5vh;
    background-color: #f5f5f5;
    border: none !important;
}

.canvas_body{
    display: flex;
    flex-direction: column;
    gap: 10px
  }
  
  .canvas_body_item{
    width: 60%;
    aspect-ratio: 6/1;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
  }

  .filter_button{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }