nav {
    width: 100%;
    overflow-x: scroll;
}

nav::-webkit-scrollbar {
    display: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
    width: 100%;
}

/* 
.width {
    width: 35vw !important;
    transition: .3s all ease-in-out !important;
}
 */


.pagination .page-link {
    color: #8D8B8B !important;

}


.pagination .active {
    color: #FFFF !important;
    background-color: #8D8B8B !important;
}